<!-- background image -->
<!-- <div class="fullscreen-bg"></div> -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-8 col-md-offset-2">
				<!-- logo -->
				<div class="logo">
					<img id="logo" src="/assets/mas_logo.png" alt="MAS" width="200">
				</div>
		
				<div class="form-block center-block">
					<h2 class="title">Rejestracja zespołu</h2>
					<hr>

					<div class="contact-form">
						<%= bootstrap_form_for(@team, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8") do |f| %>

							<%= f.text_field :nazwa, class: "form-control", icon: "flag", label: "Nazwa zespołu", placeholder: 'Nazwa zespołu' %>
							<%= f.text_field :mail, class: "form-control", icon: "envelope", label: "Adres e-mail", placeholder: 'Adres e-mail' %>
							
		          <%= f.form_group :kategoria, label: { text: "Kategoria"} do %>
								<%= f.radio_button :kategoria, "M", label: "Męska" %>
								<%= f.radio_button :kategoria, "Z", label: "Żeńska" %>
								<%= f.radio_button :kategoria, "X", label: "Mieszana"%>
		          <% end %>
		          
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8"><div>
									<%= f.submit 'Zarejestruj' %>
		          	</div>	
							</div>
						<% end %>
	        </div>
				</div>
      </div>
    </div>	
  </div>
</section>