<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
  <div class="container">
    <h1 class="page-title">Wybierz zawody</h1>
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- Image Boxes start -->
        <!-- ============================================================================== -->

        <div class="space-bottom"></div>
        
        <div class="row grid-space-20">
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInLeft" data-effect-delay="300">
              <div class="overlay-container">
                <img src="assets/mas_logo_bw.png" alt="">
                <%= link_to image_tag("mas_logo.png"), new_team_path, class: "overlay small" %>
              </div>
              <%= link_to "VII MAS", new_team_path, class: "btn btn-light-gray btn-lg btn-block" %>
            </div>
          </div>
            
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInLeft" data-effect-delay="200">
              <div class="overlay-container">
                <img src="assets/trytool_logo_bw.png" alt="">
                <%= link_to image_tag("trytool_logo.png"), new_team_path, class: "overlay small" %>
              </div>
              <%= link_to "IV TryTool", new_team_path, class: "btn btn-light-gray btn-lg btn-block" %>
            </div>
          </div>
            
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInLeft" data-effect-delay="100">
              <div class="overlay-container">
                <img src="assets/mjs_logo_bw.png" alt="">
                <%= link_to image_tag("mjs_logo.png"), new_team_path, class: "overlay small" %>
              </div>
              <%= link_to "III MJS", new_team_path, class: "btn btn-light-gray btn-lg btn-block" %>
            </div>
          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->